html, body{
  margin:0;
  padding:0;
  box-sizing: border-box;

}


.App{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4cbfc;
  background-image: linear-gradient(
    -45deg, 
    #e4cbfc 0%, 
    rgba(87,111,230,1) 25%, 
    rgba(152,68,183,1) 51%, 
    rgba(255,53,127,1) 100%
  );
  
}